
<footer>
  <hr />
  <h1 name="contact">... רוצה לקחת חלק באימון ? צור איתי קשר</h1>
  <a class="btn" name="contactBtn" href="mailto:orshimoni77@gmail.com">CONTACT ME</a>
  <p><i name="flag" class="fas fa-map-pin"></i> Ness-Ziona, Goley Damesek 15</p>
  <p class="schedulePg">
    <a href="https://goo.gl/maps/DDJDPZ67sSvUXJgv9" target="_blank"><i class="fab fa-google"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="https://www.instagram.com/or__shimoni/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/OS-Fitness-Or-Shimoni-2061731287187903" target="_blank"><i class="fab fa-facebook"></i></a>
  </p>
</footer>

</html>
