<%- include('partials/form-header') %>
<div class="container mt-5 float-right cont">

  <div class="row">
    <div class="col-sm-8">
      <h1>התחברות</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">אימייל</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">סיסמה</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">התחברות</button>
          </form>
          <br>
          <div class="alert alert-danger" role="alert" id="loginAlert">
            <p style="text-align: center;">!אימייל או סיסמה שגויים, אנא נסה שוב</p>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
              Google התחברות עם
          </a>
        </div>
      </div>
    </div>
  </div>


<script>
    $('#loginAlert').hide();
    const urlParams = new URLSearchParams(window.location.search);
    const param = urlParams.get('error');
    if(param == "incorrect-details") {
        $('#loginAlert').show();
    }
</script>

<%- include('partials/form-header') %>
