<%- include('partials/form-header') %>
<div class="container mt-5 float-right cont">

  <div class="row">
    <div class="col-sm-8">
      <h1>הרשמה</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">אימייל</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">סיסמה</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">הרשמה</button>
          </form>
          <br>
          <div class="alert alert-danger" role="alert" id="registerAlert">
            <p style="text-align: center;">!אימייל תפוס או פרטים לא תקינים<span><br>.אנא נסה שוב</span></p>
          </div>
          <div class="alert alert-danger" role="alert" id="passwordAlert">
            <p style="text-align: center;">!הסיסמה חייבת להיות בגודל 6 לפחות<span><br>.אנא נסה שוב</span></p>
          </div>

        </div>
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Google רישום עם
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
    $('#registerAlert').hide();
    $('#passwordAlert').hide();

    const urlParams = new URLSearchParams(window.location.search);

    const param = urlParams.get('error');
    if(param == "incorrect-details") {
      $('#registerAlert').show();
    } else if(param == "impossible-password") {
      $('#passwordAlert').show();
    }

</script>

<%- include('partials/form-header') %>
