<%- include('partials/form-header') %>

<div class="jumbotron text-center">
  <div class="container">
    <img src="/images/oslogo.png" alt="os-logo">

    <%userWithTraining.forEach(function(user){%>
      <h1 class="display-3">האימונים שלי</h1>
      <p><%= user.training %></p>
    <%});%>

    <hr>
    <div class="container">
      אימונים פנויים
    </div>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">קבע אימון</a>
    <a class="btn btn-light btn-lg" href="/logout" role="button">התנתק</a>

  </div>
</div>

<%- include('partials/form-footer') %>
