<%- include("partials/form-header") %>

    <div class="jumbotron centered">
      <div class="container">
        <img src="/images/oslogo.png" alt="os-logo">
        <h1 class="display-3">OS Fitness</h1>
        <p class="lead">'To enjoy the glow of good health, you must exercise.'</p>
        <hr>
        <a class="btn btn-dark btn-lg" href="/login" role="button">התחברות</a>
        <a class="btn btn-light btn-lg" href="/register" role="button">הרשמה</a>

      </div>
    </div>

<%- include("partials/form-footer") %>
