nav {
  border: none;
  color: #fff;
}


body {
  background-color: #E8ECEF;
}

.oslogo {
  border-radius: 50%;
}

.writing {
  width: 25%;
}

h1 {
  font-family: 'Montseratt';
}

a {
  padding: 5% 25%;
  /* border: solid 1px; */
}

.kind {

}

.container {
  width: 75%;
}

.middle-container {
  padding: 10px;
  background-image: -webkit-linear-gradient(65deg, #EFEFEF 50%, #f8f9fa 50%);
}

.parent {
  display: grid;
  place-items: center;
}

/* .iForm {
  width: auto;
} */

.centered {
    padding-top: 150px;
    text-align: center;
}

.cont {
  text-align: right;
}

.btn-google {
  text-align: right;
}

/* .training-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #6610f2;
} */
