nav {
  border: none;
  color: #fff;
}


body {
  background-color: #E8ECEF;
}

.oslogo {
  border-radius: 50%;
}

.writing {
  width: 25%;
}

h1 {
  font-family: 'Montseratt';
}

a {
  padding: 5% 25%;
}

#reg:hover, #two:hover, #pil:hover {
  border: solid 4px #112fff;
}

.container {
  width: 75%;
}

.middle-container {
  padding: 10px;
  background-image: -webkit-linear-gradient(65deg, #EFEFEF 50%, #f8f9fa 50%);
}

.parent {
  display: grid;
  place-items: center;
}

.centered {
    padding-top: 150px;
    text-align: center;
}

.cont, .btn-google {
  text-align: right;
}

.training-text {
  text-align: center;
  background-color: #6610f2;
  border-radius: 10%;
  padding: inherit;
  border: solid 1px #112fff;
}

.process-btn {
  background-color: #6610f2;
  border-color: #6610f2;
}

.process-btn:hover {
  background-color: #6610e0;
  border-color: #112fff;
}
